/* src/pages/ContactUs/contact.scss */

/* Ensures the introductory text is aligned to the left */
.text-left {
    text-align: left !important;
    /* Enforcing left alignment */
}

.contact-details {
    background-color: #f9f9f9;
    /* Light background for the contact details */
    border: 1px solid #e0e0e0;
    /* Light border around the details */
    border-radius: 8px;
    /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Soft shadow for a more elevated look */
}

.contact-details h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

// contactdetails
.contact-details p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 12px;
}

.contact-form {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    /* Light border around the form */
    border-radius: 8px;
    /* Rounded corners */
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Soft shadow for the form */
}

button {
    background-color: #3498db;
    border: none;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .contact-details {
        margin-bottom: 20px;
    }

    .contact-form {
        margin-top: 20px;
    }
}