/* src/pages/ContactUs/contact.scss */
.contact-details h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-details p {
    font-size: 1rem;
    color: #555;
}

.contact-details {
    background-color: #f4f7fa;
    padding: 20px;
    border-radius: 8px;
}

.contact-form-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #3498db;
    border: none;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}